<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">PR-Care</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">

        <li class="nav-item d-flex">
          <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalToggleLabel">login</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
              <div class="row">
                <div class="col">
                  <div class="d-grid">
                  <a href="/employeeLogin" class="btn btn-primary" role="button" >Employees</a>

                  </div>
                </div>
                <div class="col">
                  <div class="d-grid">

                    <a href="/patientLogin" class="btn btn-primary" role="button" >Patients</a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 text-center">
                    <p>no account?<a href="/createUser" class="btn btn-link" type="button" >Create One!</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


        </li>
      </ul>
    </div>
    <div class="d-flex">
      <button class="btn btn-primary d-{:}!" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">login</button>
    </div>

  </div>
</nav>