{% extends "patientBase.html" %}
{% block title %}PR-Care Home{% endblock %}

{% block content %}
<div class="container">
<!--    {% with messages = get_flashed_messages() %}-->
<!--    {% if messages %}-->
<!--    {% for message in messages %}-->
<!--            <div class="alert alert-warning alert-dismissible fade show" role="alert">-->
<!--                <strong>{{ message }}</strong>-->
<!--                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>-->
<!--            </div>-->
<!--    {% endfor %}-->
<!--    {% endif %}-->
<!--    {% endwith %}-->


        <h1 class="display-4">Home</h1>
        <p>Hello world!</p>
</div>
{% endblock %}